body {
  margin: 0;
  text-align: center;
  font-family: 'Koulen', cursive;
  background-color: #789395;
  color: #B4CFB0;
}

h1 {
  top: 200px;
}

p {
  font-family: 'Nunito', sans-serif;
}

span {
  text-decoration: underline;
}

.top {
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.money{
  height: 100px;
  width: 100px;
  margin-top: 50px;
}
.console{
  height: 100px;
  width: 100px;
}

.profile-photo {
  height: 250px;
  margin-top: 50px;
}

.rule{
  margin-top: 50px;
}
